<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/topicPage.css">
    <title>Topics</title>
</head>

<body>
    <h1>
        <%= subject[0].subjectName.toUpperCase() %>
    </h1>
    <hr>
    <% for (const topicOBj of subject[0].topics) { %>

        <div>
            <a href="/<%= subject[0].subjectName %>/<%= topicOBj.topicName %>">
                <%= topicOBj.topicName %>
            </a>

            <span>
                <%= topicOBj.score %> / <%= topicOBj.questions.length %>
            </span>
        </div>

        <% } %>


</body>

</html>